====================================
Unity generated
====================================
/ProjectSettings
/Temp
/Library

=====================================
Visual Studio / MonoDevelop generated
=====================================
/ExportedObj
/obj

/*.csproj
/*.sln

=====================================
Rider generated
=====================================
/.idea
